:root {
  --main-title-color: #2e2f42;
  --secondary-title-color: #434455;
  --accent-color: #ffffff;
  --secondary-accent-color: #4d5ae5;
  --effect-color: #404bbf;
  --footer-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-title-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------- header -----------*/

.header {
}
.header-navigation {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}
.header-logo span {
  color: var(--main-title-color);
}
.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--effect-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--effect-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--effect-color);
}

.header-address {
}
.address-list {
}

.header-mail {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}
.header-tel {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

/*----------- /header -----------*/

/*----------- Hero -----------*/

.hero {
}
.hero-main {
  background: var(--main-title-color);
}
.hero-main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.hero-list {
}
.hero-item {
}
.hero-main-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--secondary-accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--secondary-accent-color);
  background: var(--footer-logo-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background: var(--effect-color);
}
.foto-list {
}
.foto-list-item {
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.hero-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}

/*----------- /Hero -----------*/

/*----------- About -----------*/
.about {
}
.about-list {
}

.about-item {
}
.about-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.about-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*----------- /About -----------*/

/*----------- Еxamples -----------*/
.examples {
}
.examples-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.examples-list {
}

.examples-item {
}
/*----------- /Еxamples -----------*/

/*----------- Team -----------*/
.team {
  background: var(--footer-logo-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-list {
}

.team-item {
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*----------- /Team -----------*/

/*----------- Footer -----------*/

.footer {
  background: var(--main-title-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}
.footer-logo span {
  color: var(--footer-logo-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

/*----------- /Footer -----------*/
